// ----------------------------------------
// WRAPPER COMPONENT  🔒
// ----------------------------------------



//** IMPORTS **//

// connect UI Kit
@import "../../library/ui-kit/ui-kit.scss";



//** STYLES **//

// layout

.b-wrapper {

    position: relative;
    width: 1180px;
    margin: auto;

}