// ----------------------------------------
// COLORS SETTINGS
// ----------------------------------------



//** MAIN COLORS **//

$yellow:        #F7CA46;
$purple:        #392485;
$white:         #ffffff;
$gray:          #E5E4E5;

//** OPTIONAL COLORS **//

