// ----------------------------------------
// RESET SETTINGS  🔒
// ----------------------------------------

// reset margins and paddings
html, body, div, span, input, h1, h2, h3, h4, h5, h6, p, ol, ul, li{
	
	margin: 	0;
	padding: 	0;
	
}

// reset to default body settings
body{
    
	position: 		absolute;

	width: 			100%;
	height: 		100%;
	
	line-height: 	1;
	
}

// reset lists
ol, ul{
	list-style: 	none;
}