@import 'colors.scss';

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@mixin typo-base {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: $gray;
}

@mixin typo-menu {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: $gray;
    letter-spacing: 1px;
    text-transform: uppercase;
}
