// ----------------------------------------
// BLOCK COMPONENT  🔒
// ----------------------------------------



//** IMPORTS **//

// connect UI Kit
@import "../../library/ui-kit/ui-kit.scss";



//** STYLES **//

// block

.b-block {

    position: relative;
    width: 100%;

    //-- modifiers
    &--gray {

        background:     $gray;

    }

}