// ----------------------------------------
// LAYOUT COMPONENT  🔒
// ----------------------------------------



//** IMPORTS **//

// connect UI Kit
@import "../../library/ui-kit/ui-kit.scss";



//** STYLES **//

// layout

.l-layout {

    width: 100%;
    height: 100%;

    //-- modifiers
    &--app {

        position: relative;

        background: $white;

    }

}